.message-container {
  position: relative;
  display: flex;
  height: 100px;
  width: 90%;
  min-width: 400px;
  background-color: #eeeeee;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 30px;

  .message-info-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 100%;
    overflow: hidden;

    .user-email {
      color: #364645;
      font-weight: bold;
      overflow-wrap: break-word;
      padding: 8px;
    }
    .time-stamp {
      color: #555555;
      font-style: italic;
      padding: 8px;
    }
  }
  .message {
    position: absolute;
    overflow-wrap: break-word;
    overflow: hidden;
    width: 74%;
    height: 100%;
    left: 22%;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
  }
  .image-message-container {
    position: absolute;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    overflow: hidden;
    width: 74%;
    height: 100%;
    left: 22%;
    background-color: #ffffff;
    box-sizing: border-box;

    .image-message {
      height: 90px;
      width: auto;
      margin-left: 10px;
    }
  }

  .message-control-buttons-container {
    position: absolute;
    width: 4%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .message-control-button {
      height: 28px;
      width: 28px;
      margin: 0;
      padding: 0;
      border: none;
      background-size: cover;
      background-color: transparent;
      cursor: pointer;
      outline: none;
    }
    .edit-message-button {
      background-image: url(../../assets/images/edit-message.svg);
    }
    .remove-message-button {
      background-image: url(../../assets/images/remove-message.svg);
    }
  }
}
