.authentication-container {
  display: flex;
  align-items: center;
  margin-right: 50px;

  .user-info-container {
    display: flex;
    align-items: center;
    margin-right: 30px;

    .user-photo {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border: 1px solid #91a09c;
    }
    .user-name {
      color: #ffffff;
    }
  }
  .auth-buttons-container {
    .auth-button {
      width: 32px;
      height: 32px;
      margin: 8px;
      padding: 0;
      background-size: cover;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &_github {
        background-image: url(../../assets/images/auth_service_github.svg);
      }
      &_google {
        background-image: url(../../assets/images/auth_service_google.svg);
      }
    }
  }
  .sign-out-button {
    width: 120px;
    height: 30px;
    color: #ffffff;
    background-color: #8b9b95;
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      background-color: #96a7a0;
      border: 1px solid rgba(255, 255, 255, 0.7);
    }
  }
}
